In [1]:
print('Hello World')

Hello World

In [2]:
print('Mary\'s cosmetics')

Mary's cosmetics

In [3]:
print('신씨가 소리질렀다. \"도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [4]:
print("C:\Windows")

C:\Windows

In [5]:
print("안녕하세요.\n만나서\t\t반갑습니다.") #\n 은 엔터 #\t는 탭

안녕하세요.
만나서		반갑습니다.

In [6]:
print ("오늘은", "일요일")

오늘은 일요일

In [7]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [8]:
print("naver", "kakao", "samsung", sep=";")

naver;kakao;samsung

In [9]:
print("naver", "kakao", "samsung", sep="/")

naver/kakao/samsung

In [10]:
print("first",end="");print("second") #세미콜론은 ; 한 줄에 여러개의 명령 작성

firstsecond

In [11]:
print(5/3)

1.6666666666666667

In [12]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [13]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79
print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [14]:
s = "hello"
t = "python"

In [15]:
print(s+'!', t)

hello! python

In [16]:
2+2*3

8

In [17]:
a=128
print(type(a))

<class 'int'>

In [18]:
num_str = "720"
num_int = int(num_str)    #문자열 > 정수
print(num_int, type(num_int))

720 <class 'int'>

In [19]:
num = 100
result = str(num)  #정수 >문자열
print(result, type(result))

100 <class 'str'>

In [20]:
data = "15.79"
data = float(data) #문자열 > 실수
print(data,type(data))

15.79 <class 'float'>

In [21]:
year = "2020"
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

In [22]:
월 = 48584
총금액 = 월*36
print(총금액)

1749024

In [23]:
lang = 'python'
print(lang[0], lang[2])      #index

p t

In [24]:
car_number = "24가 2210"
print(car_number[-4:])     # '-'뒤에서부터 4 4자리까지 출력

2210

In [25]:
string = "홀짝홀짝홀짝"
print(string[::2])
print(string[2::])
print(string[:2:])

홀홀홀
홀짝홀짝
홀짝

In [26]:
string = "PYTHON"
print (string[::-1])    #거꾸로

NOHTYP

In [27]:
phone_num = "010-1111-2222"
phone_num1 = phone_num.replace("-", "")
print (phone_num1)

01011112222

In [28]:
phone_num = "010-1111-2222"
phone_num1 = phone_num.replace("-", " ")
print (phone_num1)

010 1111 2222

In [29]:
url = "http://sharebook.kr"
url_split = url.split('.')
print (url_split[-1])

kr

In [30]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [ ]:
string = 'abcdfe2a354a32a'
string_1 = string.replace('a','A')
print(string_1)

In [ ]:
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)

In [ ]:
print("Hi" * 3)

In [ ]:
print ("-"*80)

In [ ]:
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print (t3*4)

In [ ]:
name1 = "김민수"
age1 = 10
name2 = '이철희'
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))       #%2s = 문자열(str) 데이터 // %d = 정수형(digit) 데이터
print("이름: %s 나이: %d" % (name2, age2))

In [ ]:
name1 = "김민수"
age1 = 10
name2 = '이철희'
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

In [ ]:
name1 = "김민수"
age1 = 10
name2 = '이철희'
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

In [ ]:
상장주식수 = "5,969,782,550"
쉼표제거 = 상장주식수.replace(",","")
타입변환 = int(쉼표제거)
print(타입변환, type(타입변환))

In [ ]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

In [ ]:
data = "   삼성전자    "
data1 = data.replace(" ","")    #이걸로는 왜 안되는지?
print(data1)

In [ ]:
ticker ="btc_krw"
ticker1 = ticker.upper()
print(ticker1)

In [ ]:
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

In [ ]:
a = "hello"
a = a.capitalize()
print(a)

In [ ]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

In [ ]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

In [ ]:
a = "hello world"
a.split()

In [ ]:
ticker = "btc_krw"
ticker.split("_")

In [ ]:
date = "2020-05-01"
date.split("-")

In [ ]:
data = "039490     "
data.replace(" ","")

In [ ]:
data = "039490     "
data = data.rstrip()
print(data)